<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('./partials/header.ejs') %>
  <body>
    <%- include ('./partials/navbar.ejs') %>
    <button><a href="/question">Question</a></button>
  </body>
  <%- include ('./partials/footer.ejs') %>
</html>
