<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guia Perguntas</title>
  </head>
  <body>
    <h1>Guia perguntas.</h1>
    <hr />
    <p>Lista de perguntas</p>
    <p>Nome: <%= nome %></p>
    <p>Linguagem favorita: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Número de inscritos: <%= inscritos %></p>
    <hr />
    <% if (msg == true) { %>
    <h3>Mensagem de erro!</h3>
    <% } else {%>
    <h3>Nenhum erro!</h3>
    <%} %>
  </body>
</html>
